@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav navbar-nav navbar-right btn-group">
        <a id="account-a" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="btn navbar-btn btn-default">@UserManager.GetUserName(User)</a>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
            <button id="logout-btn" type="submit" class="btn navbar-btn btn-dark">Logout</button>
        </form>
    </div>

}
else
{
    <div id="login-ul" class="nav navbar-nav navbar-right btn-group">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn navbar-btn btn-outline-light">Register</a>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn navbar-btn btn-outline-light">Login</a>
    </div>
}