@{
    ViewData["Title"] = "Empty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You</h2>
<p>We have sucsfully recieved your Movie Store order. You will reciece your netflix movies. Don't forget to add the chill part.</p>

