@model MovieStore.ViewModels.OrderViewModel

@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe


<form action="/Payment/Charge" method="POST">
    <article>
        <label>Checkout and Pay </label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@Stripe.Value.PublishableKey"
            data-locale="auto"
            data-shipping-address="true"
            data-currency="aud"
            data-allow-remeber-me="false"
            data-description="Movie Store Order - Items: @Model."
            data-amount="@Model.Total">
    </script>
</form>