body {
    background-color: #262626;
color:#ffffff;
}



.body-content {
    padding-top: 100px;
}
/*BOOTSTRAP OVERRIDES*/
#nav {
    margin-bottom:0;
}
#home-a, #logout-btn, #catalogue-a, #order-a, #admin-a, #dashboard-a, #staff-a, #payment-a {
    color: #ffffff;
}
#search-form {
}
#jumbotron-div {
    background-color: #212121;
    margin-top:15%;
    margin-bottom:15%;
}
