@model MovieStore.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Movie</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="MovieImageUpload" class="control-label"></label>
                <input asp-for="MovieImageUpload" class="form-control" />
                <span asp-validation-for="MovieImageUpload" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Genre.Name" class="control-label"></label>
                    <input asp-for="Genre.Name" class="form-control" />
                    <span asp-validation-for="Genre.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Actor.FirstName" class="control-label"></label>
                    <input asp-for="Actor.FirstName" class="form-control" />
                    <span asp-validation-for="Actor.FirstName" class="text-danger"></span>
                    <label asp-for="Actor.LastName" class="control-label"></label>
                    <input asp-for="Actor.LastName" class="form-control" />
                    <span asp-validation-for="Actor.LastName" class="text-danger"></span>
                    <label asp-for="Actor.Gender" class="control-label"></label>
                    <input asp-for="Actor.Gender" class="form-control" />
                    <span asp-validation-for="Actor.Gender" class="text-danger"></span>  
                    <label asp-for="Actor.DOB" class="control-label"></label>
                    <input asp-for="Actor.DOB" class="form-control" />
                    <span asp-validation-for="Actor.DOB" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Director.FirstName" class="control-label"></label>
                    <input asp-for="Director.FirstName" class="form-control" />
                    <span asp-validation-for="Director.FirstName" class="text-danger"></span>
                    <label asp-for="Director.LastName" class="control-label"></label>
                    <input asp-for="Director.LastName" class="form-control" />
                    <span asp-validation-for="Director.LastName" class="text-danger"></span>
                    <label asp-for="Director.Gender" class="control-label"></label>
                    <input asp-for="Director.Gender" class="form-control" />
                    <span asp-validation-for="Director.Gender" class="text-danger"></span>
                    <label asp-for="Director.DOB" class="control-label"></label>
                    <input asp-for="Director.DOB" class="form-control" />
                    <span asp-validation-for="Director.DOB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Producer.FirstName" class="control-label"></label>
                    <input asp-for="Producer.FirstName" class="form-control" />
                    <span asp-validation-for="Producer.FirstName" class="text-danger"></span>
                    <label asp-for="Producer.LastName" class="control-label"></label>
                    <input asp-for="Producer.LastName" class="form-control" />
                    <span asp-validation-for="Producer.LastName" class="text-danger"></span>
                    <label asp-for="Producer.Gender" class="control-label"></label>
                    <input asp-for="Producer.Gender" class="form-control" />
                    <span asp-validation-for="Producer.Gender" class="text-danger"></span>
                    <label asp-for="Producer.DOB" class="control-label"></label>
                    <input asp-for="Producer.DOB" class="form-control" />
                    <span asp-validation-for="Producer.DOB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Studio.Name" class="control-label"></label>
                    <input asp-for="Studio.Name" class="form-control" />
                    <span asp-validation-for="Studio.Name" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sucess" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Catalogue</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
