
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <ul class="nav">
        <li class="nav-item">
            <a asp-area="" asp-controller="Movie" asp-action="Create" class="navbar-link">Create</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Movie" asp-action="ReadAll" class="navbar-link">Read All</a>
        </li>
    </ul>