
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a asp-area="" asp-controller="Movie" asp-action="Create" class="navbar-link">Create</a>
        </li>
    </ul>